<% calendar @events, {prev_text: "<-", next_text: "->", start_day: :monday } do |event| %>
  <div> <%= link_to event.title, event %></div>
<% end %>

<div class="row">
  <div class="col-md-8">

    <%#= @client.user.name %>

  </div>
</div>


  <ul>


    <%# @new_fol.each do |fol| %>
      <%# image_tag(fol) %>
    <%# end %>
  </ul>
